
<!--
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>studio</th>
        <th>weekend Income</th>
    </tr>
  </table>

    <movie *ngFor = "let moviee of list"[data]= "moviee"></movie>
-->
 <mat-grid-list cols="5" rows="1" rowHeight="50px">
  <mat-grid-tile>ID</mat-grid-tile>
  <mat-grid-tile>Title</mat-grid-tile>
  <mat-grid-tile>Studio</mat-grid-tile>
  <mat-grid-tile>Weekend Income</mat-grid-tile>
</mat-grid-list> 

      <mat-grid-list cols="5" rows="1" rowHeight="50px" *ngFor = "let moviee of list">
    
        <movie [data] = "moviee" ></movie>
    
      </mat-grid-list>  
        
       <!-- <div>
            The movie you deleted is:{{}}
          </div> -->
       