<!--
<table>
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{studio}}</td>
      <td>{{weekendIncome}}</td>
    </tr>
  </table>
 -->
  <mat-grid-list  cols = "5" rows = "1" *ngIf="showTheRow">
 
      <mat-grid-tile>{{id}}</mat-grid-tile>
      <mat-grid-tile>{{title}}</mat-grid-tile>
      <mat-grid-tile>{{studio}}</mat-grid-tile>
      <mat-grid-tile>{{weekendIncome}}</mat-grid-tile>
      <mat-grid-tile> <button (click) = "disappear()"> click to disappear</button></mat-grid-tile>
    </mat-grid-list>
  